node_modules
dist
.DS_Store
.env
.env.local
.env.production
coverage
apps/player/.capacitor
apps/player/android/.gradle
apps/player/android/local.properties
apps/player/android/app/build
apps/player/android/build
data
