[Unit]
Description=Signal Deck HDMI Service Console
After=multi-user.target signaldeck-webui.service

[Service]
Type=simple
WorkingDirectory=/opt/signaldeck/apps/rpi-player
Environment=TERM=linux
ExecStartPre=-/usr/bin/chvt 1
ExecStart=/opt/signaldeck/venv/bin/python -m signaldeck_service_console
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
